a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

*,
::before,
::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: 'Monserat', sans-serif;
}

main {
	flex-grow: 1;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	font-family: inherit;
	cursor: pointer;
}

.light-theme {
	background-color: #fff;
}

.dark-theme {
	background-color: #F2F2F2;
}

.container {
	max-width: 1426px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
}

.column {
	padding-right: 20px;
	padding-left: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -20px;
	margin-left: -20px;
}

.col-auto {
	flex: 1;
}

.col-1 {
	flex-basis: 8.3333%;
	max-width: 8.3333%;
}

.col-2 {
	flex-basis: 16.6666%;
	max-width: 16.6666%;
}

.col-3 {
	flex-basis: 25%;
	max-width: 25%;
}

.col-4 {
	flex-basis: 33.3333%;
	max-width: 33.3333%;
}

.col-5 {
	flex-basis: 41.6666%;
	max-width: 41.6666%;
}

.col-6 {
	flex-basis: 50%;
	max-width: 50%;
}

.col-7 {
	flex-basis: 58.3333%;
	max-width: 58.3333%;
}

.col-8 {
	flex-basis: 66.6666%;
	max-width: 66.6666%;
}

.col-9 {
	flex-basis: 75%;
	max-width: 75%;
}

.col-10 {
	flex-basis: 83.3333%;
	max-width: 83.3333%;
}

.col-11 {
	flex-basis: 91.6666%;
	max-width: 91.6666%;
}

.col-12 {
	flex-basis: 100%;
	max-width: 100%;
}

@media (max-width: 1023px) {
	.col-md-1 {
		flex: 0 0 16.6666%;
		max-width: 16.6666%;
	}

	.col-md-2 {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}

	.col-md-3 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-4 {
		flex: 0 0 66.6666%;
		max-width: 66.6666%;
	}

	.col-md-5 {
		flex: 0 0 83.3333%;
		max-width: 83.3333%;
	}

	.col-md-6 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.hidden-md {
		display: none;
	}
}

@media (max-width: 767px) {
	.col-sm-1 {
		flex: 0 0 16.6666%;
		max-width: 16.6666%;
	}

	.col-sm-2 {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}

	.col-sm-3 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-4 {
		flex: 0 0 66.6666%;
		max-width: 66.6666%;
	}

	.col-sm-5 {
		flex: 0 0 83.3333%;
		max-width: 83.3333%;
	}

	.col-sm-6 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.heading-1 {
	font-weight: 900;
	font-size: 56px;
	line-height: 64px;
}

.heading-2 {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
}

.heading-3 {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
}

.heading-4 {
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
}

.heading-5 {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}

.heading-6 {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
}

.paragraph-1 {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}

.paragraph-2 {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.paragraph-3 {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
}

.primary {
	color: #6e41e2;
}

.gray {
	color: rgba(17, 17, 17, 0.48);
}

.gray-m {
	color: #fafafa;
}

.gray-l {
	color: #f1f1f1;
}

.gray-s {
	color: #d4d4d4;
}

.gray-k {
	color: #6b6b6b;
}

.active {
	border-bottom: 2px solid #6e41e2;
	color: #111111;
}

.input {
	border: none;
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
	min-height: 56px;
	width: 100%;
	padding: 16px;
	outline: 0;
	border-radius: 4px;
}

.input:hover {
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
}

.input:hover {
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
}

.input:disabled {
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
}

.input-error {
	background: #f9e3e3;
	box-shadow: 0px 4px 4px rgba(255, 196, 196, 0.04), 0px 4px 40px rgba(255, 196, 196, 0.24);
}

.input-success {
	background: #cbecd9;
	box-shadow: 0px 4px 4px rgba(39, 174, 96, 0.04), 0px 4px 40px rgba(39, 174, 96, 0.24);
}

.input-autofill {
	background: #fff5c0;
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
}

.input-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.input-checkbox + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
}

.input-checkbox + label::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.input-checkbox:checked + label::before {
	background-color: #6E41E2;
	background-image: url('../images/icons/chekbox-selected.svg');
}

.select {
	border: none;
	outline: 0;
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
	border-radius: 4px;
	padding: 16px;
	appearance: none;
	overflow: hidden;
	background: url('../images/icons/arrow-down.svg') no-repeat left, url('../images/icons/close.svg') no-repeat right;
	background-position: 90%, 80%;
}

.select:hover {
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
}

.select:focus {
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
}

.button {
	outline: none;
	border: none;
	background: #ffffff;
	border-radius: 4px;
	padding: 10px 20px;
	color: #6e41e2;
}

.button-primary {
	background-color: #6e41e2;
	color: #fff;
}

.button-primary:hover {
	background: #5835b0;
}

.button-primary:active {
	background-color: #472c8a;
}

.button-primary:focus {
	border-color: #472c8a;
	background-color: #6e41e2;
}

.button-secondary {
	border: 1px solid #6e41e2;
}

.button-secondary:hover {
	background: #ede8fc;
}

.button-secondary:active {
	border-color: #472c8a;
}

.button-secondary:focus {
	border-color: #472c8a;
}

.header {
	border-bottom: 1px solid lightgrey;
	padding: 10px 20px;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav__menu {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-right: 56px;
}



.header-nav__menu a {
	min-height: 100%;
	padding: 22px 0px;
}

.header-nav__menu a:hover {
	border-bottom: 2px solid rgba(17, 17, 17, 0.48);
}

.header-nav__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
}

.header-nav__overlay.visible {
	visibility: visible;
	opacity: 1;
}

.header-nav__trigger {
	display: none;
}

.header-account {
	display: flex;
	align-items: center;
	gap: 12px;
}

.header-account__avatar {
	width: 44px;
	height: 44px;
	background: #f1f1f1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.catalog {
	padding-top: 40px;
	padding-bottom: 76px;
}

.catalog-title {
	margin-bottom: 12px;
}

.catalog-text {
	margin-bottom: 32px;
}

.catalog-search {
	display: flex;
	margin-bottom: 32px;
	gap: 20px;
}

.catalog-search__input {
	background: url('../images/icons/search.svg') no-repeat center;
	background-position: 14px 50%;
	padding-left: 44px;
}

.catalog-cards__item {
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
	border-radius: 8px;
	height: 400px;
	display: flex;
	flex-direction: column;
}

.catalog-cards__item__back {
	min-height: 134px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px 8px 0px 0px;
	position: relative;
}

.catalog-cards__item__progress {
	background: #27ae60;
	width: 12%;
	height: 24px;
	color: #fff;
	white-space: nowrap;
	padding: 10px 20px;
	border-top-left-radius: 8px;
	display: flex;
	align-items: center;
}

.catalog-cards__item__avatar {
	display: flex;
	align-items: center;
	gap: 12px;
	color: #fff;
	position: absolute;
	left: 4%;
	bottom: -6%;
}

.catalog-cards__item__avatar__photo {
	width: 56px;
	height: 56px;
	border: 3px solid white;
	border-radius: 50%;
}

.catalog-cards__item__avatar__photo img {
	border-radius: 50%;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.catalog-cards__item__back__one {
	background: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.72) 93.75%), url('../images/image-1.jpg');
}

.catalog-cards__item__back__two {
	background: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.72) 93.75%), url('../images/image-2.jpg');
}

.catalog-cards__item__back__three {
	background: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.72) 93.75%), url('../images/image-3.jpg');
}

.catalog-cards__item__wrapper {
	padding: 24px 20px 0px 20px;
	flex-grow: 1;
}

.catalog-cards__item__text {
	margin-bottom: 14px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.catalog-cards__item__info {
	display: flex;
	gap: 16px;
}

.catalog-cards__item__info div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
}

.catalog-cards__item__nav {
	padding: 20px;
}

.profile {
	padding: 32px 0px;
	max-width: 476px;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
	border-radius: 8px;
	margin: 20px auto;
}

.profile-title {
	margin-bottom: 22px;
}

.profile-navigation {
	display: flex;
	gap: 24px;
}

.profile-navigation a {
	padding: 14px 0px;
}

.profile-navigation a:hover {
	color: black;
	border-bottom: 2px solid #472c8a;
}

.profile-social {
	padding: 20px 0px;
	background: #fafafa;
}

.profile-social-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-social__icons {
	display: flex;
	align-items: center;
	gap: 8px;
}

.profile-social__icons__item {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-registration input {
	margin-top: 20px;
}

.form-registration a {
	color: #6e41e2;
}

.form-registration-actions {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
}

.form-registration-checkbox {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.footer{
	padding: 20px;
	text-align: center;
}

@media (max-width: 1023px) {
	.catalog-search {
		flex-wrap: wrap;
	}

	.catalog-cards {
		row-gap: 20px;
		justify-content: center;
	}

	.catalog-cards__item {
		height: 340px;
		justify-content: center;
	}

	.catalog-cards__item__back {
		min-height: 100px;
	}

	.catalog-cards__item__avatar__photo {
		width: 48px;
		height: 48px;
	}

	.catalog-cards__item__text {
		font-size: 16px;
		line-height: 24px;
	}

	.catalog-cards__item__info {
		text-align: center;
	}

	.catalog-cards__item__info div {
		flex-direction: column;
		gap: 2px;
	}

	.catalog-cards__item__info span {
		font-size: 13px;
		line-height: 20px;
	}

	.catalog-cards__item__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.catalog-cards__item__nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (max-width: 767px) {
	.header {
		padding: 20px;
	}

	.header-nav__trigger {
		display: inline-flex;
	}

	.header-nav {
		display: flex;
		flex-direction: column;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 130%;
		overflow-y: auto;
		background-color: #e3daf9;
		opacity: 0;
		transform: translateY(100%);
		transition: transform 0.3s, opacity 0.3s;
		border-radius: 12px 12px 0px 0px;
		padding: 20px;
		text-align: center;
	}

	.header-nav.visible {
		opacity: 1;
		transform: translateY(50%);
	}

	.header-nav__menu {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 40px;
		margin: 0;
		margin-top: 100px;
	}

	.header-nav__menu a {
		padding: 10px;
		color: #6e41e2;
		min-height: auto;
		font-size: 40px;
	}

	.header-account {
		position: absolute;
	}

	.header-account__name a {
		font-size: 20px;
		color: #111111;
	}

	.catalog-search {
		justify-content: center;
	}

	.catalog-title {
		font-size: 32px;
		line-height: 40px;
	}

	.catalog-text {
		font-size: 13px;
		line-height: 20px;
	}

	.catalog-cards__item {
		height: 300px;
		margin-bottom: 20px;
	}

	.catalog-cards__item__avatar {
		left: 50%;
		transform: translate(-50%, 0);
	}

	.catalog-cards__item__avatar__photo {
		width: 56px;
		height: 56px;
	}

	.catalog-cards__item__wrapper {
		padding: 10px;
	}

	.catalog-cards__item__nav {
		padding: 10px;
	}
}
